.group-cover {
    height: 50vh;
    color: #ffffff;
}

.group-cover > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.group-cover > div {
    position: absolute;
    top: 35%;
    left: 10%;
}

.group-cover h1 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
}

.group-cover p {
    font-weight: normal;
    font-size: 18px;
    margin-top: 14px;
}
