.posts {
    width: 692px;
    height: 1751px;
    /* top: 628px;
    left: 200px;
    gap: 0px;
    opacity: 0px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-generic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 13px;
    /* align-items: center; */
    width: 692px;
    height: 472px;
    top: 628px;
    left: 200px;
    gap: 0px;
    border-radius: 4px;
    border: solid 1px #E0E0E0;
    opacity: 0px;
}

.post-generic > img {
    width: 692px;
    height: 220px;
    top: 628px;
    left: 200px;
    gap: 0px;
    border-radius: 4px 4px 0px 0px;
    opacity: 0px;
}

.post-generic > div {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.post-generic > div > span {
    display: flex;
    flex-direction: row;
}

.post-generic h3 {
    font-family: IBM Plex Sans;
    font-size: 22px;
    line-height: 29.52px;
    text-align: left;
}

.post-generic-type {
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    text-align: left;
    margin: 0 8px;
}

.post-generic-title {
    font-family: IBM Plex Sans;
    font-size: 22px;
    line-height: 29.52px;
    text-align: left;
    margin: 0 8px;
}

.post-generic-description {
    font-family: IBM Plex Sans;
    font-size: 19px;
    line-height: 25.49px;
    text-align: left;
    color: #5C5C5C;
    margin: 0 8px;
}

/* .post-generic > div > span:first-of-type {
    font-family: IBM Plex Sans;
    font-size: 18px;
    line-height: 23.4px;
    text-align: left;
} */

.post-generic-author {
    font-family: IBM Plex Sans;
    font-size: 18px;
    line-height: 23.4px;
    text-align: left;    
}

.post-views-and-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.post-generic > button {
    width: 652px;
    height: 38px;
    top: 1956px;
    left: 220px;
    gap: 0px;
    border-radius: 8px;
    border: 0.7px solid #A9AEB8;
    opacity: 0px;
    background-color: #FFFFFF;
    font-family: IBM Plex Sans;
    font-size: 13px;
    line-height: 18.25px;
    text-align: center;
    color: #E56135;
}