.posts {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.post-generic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
}

.post-generic-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-generic-header > div {
    cursor: pointer;
}

.post-generic-title {
    margin: 0;
}

.post-generic > img {
    border-radius: 4px 4px 0px 0px;
}

.post-generic-content {
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 2vh;
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
}

.post-author {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.post-generic-type {
    font-size: 18px;
}

.post-generic-description {
    font-size: 19px;
    color: #5c5c5c;
}

.post-generic-author {
    font-size: 18px;
    line-height: 23.4px;
    text-align: left;
}

.post-views-and-share {
    display: flex;
    align-items: center;
    gap: 2vw;
    color: #525252;
}

.post-views-and-share > img {
    cursor: pointer;
}

.post-meetup-calendar {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.post-date-venue {
    display: flex;
    gap: 4vw;
}

.post-button {
    height: 3.5vh;
    border-radius: 8px;
    border: 0.7px solid #a9aeb8;
    background-color: #ffffff;
    font-size: 13px;
    line-height: 18.25px;
    text-align: center;
    color: #e56135;
    cursor: pointer;
}

.post-non-generic {
    gap: 5px;
}
